@font-face {
  font-family: "Inconsolata";
  src: url(/fonts/inconsolata/Inconsolata.otf) format("truetype");
}

body {
  font-family: 'Inconsolata', 'Arial';
  color: #1F2429;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Inconsolata', 'Arial';
}

a {
  font-weight: bold;
  color: #1F2429;
}

a:hover, a:focus {
  color: #fff;
  background-color: #1F2429;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  overflow-wrap: break-word;
  padding: 0;
}

table {
  border-left: 1px dashed #1F2429;
  margin-top: 10px;
  margin-bottom: 10px;
}

table>thead>tr>th, .table>thead>tr>th {
  border-bottom: 1px dashed #1F2429;
}

table>tfoot>tr>th, .table>tfoot>tr>th {
  border-top: 1px dashed #1F2429;
}

table>thead>tr>th, .table>thead>tr>th,
table>tbody>tr>th, .table>tbody>tr>th, 
table>tfoot>tr>th, .table>tfoot>tr>th, 
table>thead>tr>td, .table>thead>tr>td, 
table>tbody>tr>td, .table>tbody>tr>td, 
table>tfoot>tr>td, .table>tfoot>tr>td {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px dashed #1F2429;
}

.menu {
  margin-top: 50px;
}
.menu a {
  font-weight: normal;
}

.menu li {
  padding-right: 10px;
}

.list-item {
  padding-top: 10px;
}

section, article {
  padding-top: 50px;
}

article.li {
  padding: 0px;
}

article img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

pre {
  border-radius: 0px;
  border: none;
  background-color: #1F2429;
}

pre code {
  color: #fff;
  border-radius: 0px;
}

code {
  font-family: 'Inconsolata', 'Courier';
}

blockquote {
  text-align: right;
  border-left: none; 
  border-right: 2px solid #1F2429; 
  font-style: italic;
  font-size: 15px;
}

hr {
  border-top: 1px dashed #1F2429;
}

#footer {
  padding-top: 25px;
  padding-bottom: 50px;
}

.copyright {
  margin: 0px;
}

.copyright li {
  border-top: 1px solid #1F2429;
  padding: 0px;
}

.article-body {
  padding-top: 20px;
}
