body {
	font-family: 'Inconsolata', 'Arial';
	color: #fff;
  background-color: #1F2429;
}

li {
	list-style: none;
}

ul {
	overflow-wrap: break-word;
}

section, article {
  padding-top: 100px;
}

article.li {
  padding: 0px;
}

pre {
  border-radius: 0px;
  border: none;
  background-color: #1F2429;
}

pre code {
  color: #fff;
  border-radius: 0px;
}

/* Menu */
.menu {
  width: 20px;
  height: 20px;
  text-align:center;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menu:hover {
  color: #fff;
  background-color: #1F2429;
}

nav.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  float: left;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

div#content {
  color: #1F2429;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
  overflow: scroll;
  background-color: #fff;
  border-radius: 0;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body.menu-active div#content {
  left: 50%;
}

body.menu-active div#content .menu-trigger {
  left: 294px;
}

div#content a {
	color: #1F2429;
	transition: all 0.2s;
	font-weight: bold;
}

div#content a:hover, a:focus {
	background: #1F2429;
	color: #fff;
	text-decoration: none;
}

.sidebar {
  font-family: 'Inconsolata', 'Arial';
	margin-top: 100px;
	margin-bottom: 50px;
  color: #fff;
}

.sidebar a {
  color: #fff;
  font-weight: bold;
}

.sidebar li > a {
	font-weight: normal;
}

.sidebar a:hover, a:focus {
	background: #fff;
	color: #1F2429;
	text-decoration: none;
}


#footer {
	margin-top: 30px;
}

.copyright {
  margin: 0px;
}

.copyright li {
	border-top: 1px solid #1F2429;
  padding: 0px;
}

.theme-tabs {
	border-bottom: 1px solid #1F2429;
}

.theme-tabs>li.active>a {
	color: #1F2429;
	border: 1px solid #1F2429;
	border-bottom-color: transparent;
	border-radius: 0px;
}

.theme-tabs>li.active>a:focus {
	color: #1F2429;
	border: 1px solid #1F2429;
	border-bottom-color: transparent;
	border-radius: 0px;
}
.theme-tabs>li.active>a:hover {
	color: #1F2429;
	border: 1px solid #1F2429;
	border-bottom-color: transparent;
	border-radius: 0px;
}
.theme-tabs>li>a:hover {
	color: #fff;
	background-color: #1F2429;
	border: 1px solid #1F2429;
	border-bottom-color: transparent;
	border-radius: 0px;
}

.rss-list {
	height: 500px;
	width: 100%;
	padding-top: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-track {
	border: 1px solid #fff;
}

::-webkit-scrollbar-thumb {
	background: #1F2429;  
}

::-webkit-scrollbar-thumb:hover {
	background: #88ba1c;  
}

.photography img {
  max-width: 500px;
}

.article-body {
  padding-top: 20px;
}
