{{ partial "head" . }}
<article class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="article-header">
        <h3><a href="{{ .Permalink }}" class="clearfix">{{ .Title }}</a></h3>
        <div class="article-info">
          <small>
            ~/<a href="{{ .Site.BaseURL }}">{{.Site.Title }}</a>/<a href="{{ .Site.BaseURL }}{{ .Section }}">{{ .Section }} </a>
          </small> | 
          <small>
            {{ with .Site.Params.DateForm }}
            {{ $.Date.Format . }}
            {{ else }}
            {{ $.Date.Format "Mon, Jan 2, 2006" }}
            {{ end }}
          </small>
        </div>
      </div>
      <div class="article-body">
        {{ .Content }}
      </div>
    </div>
  </div>
</article>
{{ partial "footer" . }}
