<!DOCTYPE HTML>
<html>
	<head>
		<title>Edouard Paris</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />

		<!-- Scripts -->
    <script src="{{ .Site.BaseURL }}/js/jquery-2.2.1.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/main.js"></script>
	</head>
  <body>
  {{ partial "sidebar" . }}
  <div id="content">
  <div class="menu">
    <a class="menu-trigger"><i class="fa fa-bars menu-icon"></i><a>
  </div>
