<!DOCTYPE HTML>
<html>
	<head>
		<title>Edouard Paris</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />

	</head>
  <body>
  <nav class="navbar">
    <div class="container">
      {{ if .Section }}
      <ul class="nav navbar-nav navbar-left menu">
        <li>
          <small>
            <a href="{{ .Site.BaseURL }}/{{ .Section }}"> /{{ .Section }} </a>
          </small>
        </li>
      </ul>
      {{ end }}
      <ul class="nav navbar-nav navbar-right menu">
        {{ range .Site.Menus.main }}
        <li><small>/<a href="{{.URL}}">{{.Name}}</a></small></li>
        {{ end }}
      </ul>
    </div>
  </nav>
