<nav class="sidebar" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <h1><a>{{ .Site.Title }}</a></h1>
          <p>
          {{ .Site.Params.Description }}<br />
          </p>
        </div>
        <div class="col-md-10 col-md-offset-1">
          {{ range $col := .Site.Params.Profiles }}   
          <div class="col-md-4">
            <ul class="list-unstyled">
              {{ range $row := $col }} 
              <li><a href="{{ .Url }}" target="_blank"><i class="fa fa-{{ .Icon }}"></i> {{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>
          {{ end }}	
        </div>
      </div>
    </div>
  </div>
</nav>
